# WhatsApp Multi-File Auth directory
AUTH_DIR=./auth

# Baileys Logger level: 'fatal' | 'error' | 'warn' | 'info' | 'debug' | 'trace' | 'silent'
LOG_LEVEL=silent

# Data directory path
DATA_DIR=./data

# Admin / Owner WhatsApp numbers allowed to run chat commands (separated by commas)
# Contoh: 6281234567890, 6289876543210 atau 081234567890
ADMIN_NUMBERS=6281234567890
